extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href="jbrowse") Jbrowse 
  p
    a(href="jbrowse/?data=sample_data%2Fjson%2Fvolvox") JBrowse Volvox
  p
    a(href="jbrowse/?data=sample_data%2Fjson%2Fyeast") JBrowse yeast
  p
    a(href="converter") Bionano Converter
